<div class="row">
  <div class="col-4">
  



  </div>

  <div class="col-4">

    <p style="font-size:100px;color:#4287f5"class="text-center"> <i  class="fa fa-hospital-o"></i></p>

  </div>


</div>

<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="form-group">
      <label for="txtUsername">Username</label>
      <input type="text" class="form-control" id="txtUsername" name="txtUsername" [(ngModel)]="username" />

      <label for="txtPassword">Password</label>
      <input type="password" class="form-control" id="txtPassword" name="txtPassword" [(ngModel)]="password" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">

  </div>
  <div class="col-2">
    <button class="float-right btn-primary btn" (click)="submit()">Submit</button>
  </div>
  
</div>
