<h3>
  Pregledi za pacijenta - {{korisnik.ime}} {{korisnik.prezime}}
</h3>
<div class="row">
  <!--<div class="col-2">

  </div>-->


  <div class="col-12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Tip Pregleda</th>
          <th>Lekar</th>
          <th>Lokacija</th>
          <th>Cena</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let exam of exams">
          <td>
            {{exam.datetime | date:'medium'}}
          </td>
          <td>
            {{exam.examType}}
          </td>
          <td>
            {{exam.doctor.ime + " " + exam.doctor.prezime}}
          </td>
          <td>
            {{exam.location.naziv}}
          </td>
          <td>
            {{exam.price}}
          </td>
          <td>
            <button *ngIf="show(exam.datetime, exam.taken)" class="btn btn-danger" (click)="otkazi(exam.id)"><i class="fa fa-close"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br />
<h3>
  Zakazivanje pregleda
</h3>
<br />
<div class="row">
  
  <div class="col-3">
    <label>Lekar</label>
    <select class="form-control" name="ddlLekar" [(ngModel)]="exam.doctorId">
      <option value="1">Nikola Probic</option>
    </select>
  </div>

  <div class="col-3">
    <label>Datum</label>
    <input class="form-control" type="date" [(ngModel)]="datumId"/>
  </div>

  <div class="col-3">
    <label>Vreme</label>
    <input type="time" class="form-control" [(ngModel)]="vremeId"/>
  </div>

 <div class="col-3 ">
   <br />
   <button class="btn btn-primary pull-right" (click)="zakazi()">Zakaži</button>
 </div>
  
</div>
