<!DOCTYPE html>
<html>
<title>Hospital</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
  body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif
  }
</style>
<body class="w3-light-grey">

  
  <div class="w3-content" style="max-width:1400px">

    
    <header class="w3-container w3-center w3-padding-32">
      <h1><b>MIS</b></h1>
    </header>

    
    <div class="w3-row">

      
      <div class="w3-col l8 s12">
       
        <div class="w3-card-4 w3-margin w3-white">
          
          <div class="w3-container">
            <h3><b>MEDICAL CLINIC</b></h3>
            <h5>This may be good some day, <span class="w3-opacity"></span></h5>
          </div>

          <div class="w3-container">
            <p>
              Homepage is still work in progress.
            </p>
          </div>
        </div>
        <hr>

        <div class="w3-card-4 w3-margin w3-white">
          <div class="w3-container">
            <h3><b>GENERAL DESCRIPTION</b></h3>
            <h5>Will think of a concept, <span class="w3-opacity"></span></h5>
          </div>

          <div class="w3-container">
            <p>
              Probably a good spot for a table of exams
            </p>
            <div class="w3-row">
              <div class="w3-col m8 s12">
                
              </div>
      
            </div>
          </div>
        </div>
      </div>

      
      <div class="w3-col l4">
       
        <div class="w3-card w3-margin w3-margin-top">
          
          <div class="w3-container w3-white">
            <h4><b>Information</b></h4>
            <p>A lot of work still has to be done.</p>
          </div>
        </div><hr>

        <hr>
        <div class="w3-card w3-margin">
       
          <div class="w3-container w3-white">
            
          </div>
        </div>

      </div>

     
    </div><br>
  </div>

  <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
   
  </footer>

</body>
</html>
